<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Spam Mail Detection</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Spam Mail Detection</h1>
            </header>
            <main>
                <form id="spamForm">
                    <div class="form-group">
                        <label for="emailBody">Email Body</label>
                        <textarea id="emailBody" name="body" rows="10" required></textarea>
                    </div>
                    <button type="submit">Make Prediction</button>
                </form>
                <div id="result" class="result hidden"></div>
            </main>
        </div>
        <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    </body> 
</html>